#HW3 - SQL

This homework has you working with a new database of information on ticket sales for various types of events.  Your job will be to do some initial exploring and then demonstrate your ability to do all the different types of SQL queries we learned over the last two week.  You'll also need to make one function that'll make looking at the tables easier.

These questions are written in the way someone would ask them to you.  In other words, I'm using 'plain english' questions vs. ones where I'm very explicit in terms of what columns and tables to use.  Your exploring of the database and functions to ease that process will come in handy here!  

The database has been created using a set of data from Amazon. You can read more about what each table contains here: https://docs.aws.amazon.com/redshift/latest/dg/c_sampledb.html.

## Libraries and import functions

First bring the libraries we'll need!

In [1]:
import psycopg2
import pandas as pd

Now bring in all our functions we used in the lessons!

In [2]:
# Make our connection/cursor function
AWS_host_name = "ticketsdb.chwicm24ose3.us-east-1.rds.amazonaws.com"
AWS_dbname = "ticketsdb"
AWS_user_name = "postgres"
AWS_password = "ista322ticketsdb"

def get_conn_cur(): # define function name and arguments (there aren't any)
  # Make a connection
  conn = psycopg2.connect(
    host=AWS_host_name,
    database=AWS_dbname,
    user=AWS_user_name,
    password=AWS_password,
    port='5432')

  cur = conn.cursor()   # Make a cursor after

  return(conn, cur)   # Return both the connection and the cursor

# Same run_query function
def run_query(query_string):

  conn, cur = get_conn_cur() # get connection and cursor

  cur.execute(query_string) # executing string as before

  my_data = cur.fetchall() # fetch query data as before

  # here we're extracting the 0th element for each item in cur.description
  colnames = [desc[0] for desc in cur.description]

  cur.close() # close
  conn.close() # close

  return(colnames, my_data) # return column names AND data

# Column name function for checking out what's in a table
def get_column_names(table_name): # arguement of table_name
  conn, cur = get_conn_cur() # get connection and cursor

  # Now select column names while inserting the table name into the WERE
  column_name_query =  """SELECT column_name FROM information_schema.columns
       WHERE table_name = '%s' """ %table_name

  cur.execute(column_name_query) # exectue
  my_data = cur.fetchall() # store

  cur.close() # close
  conn.close() # close

  return(my_data) # return

# Check table_names
def get_table_names():
  conn, cur = get_conn_cur() # get connection and cursor

  # query to get table names
  table_name_query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public' """

  cur.execute(table_name_query) # execute
  my_data = cur.fetchall() # fetch results

  cur.close() #close cursor
  conn.close() # close connection

  return(my_data) # return your fetched results

## Q1 Make a SQL head function - 5 point

Make function to get the pandas equivalent of `.head()`

This function should be called `sql_head` and take a single argument of `table_name` where you specify the table name you want the head information from.  It should return the column names along with the first five rows of the table along.  

**For full points, return a pandas dataframe with this information so it displays nicely :)**

In [3]:
## Q1 Your function starts here
# make sql_head function
def sql_head(table_name):
    conn, cur = get_conn_cur()
    query = f"SELECT * FROM {table_name} LIMIT 5"
    sql_head_df = pd.read_sql_query(query, conn)
    cur.close()
    conn.close()

    return sql_head_df

get_table_names()

[('sales',),
 ('venue',),
 ('event',),
 ('users',),
 ('category',),
 ('listing',),
 ('date',)]

In [4]:
# Check that it works!
sql_head(table_name = 'sales')
## Q1 Your function ends here - Any code outside of these start/end markers won't be graded

<ipython-input-3-4e7c988bffb5>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_head_df = pd.read_sql_query(query, conn)

,sales_id,list_id,seller_id,buyer_id,event_id,date_id,qty_sold,price_paid,commission,sale_time
0,2,4,8117,11498,4337,1983,2,76,11.40,6/6/2008 05:00:16
1,3,5,1616,17433,8647,1983,2,350,52.50,6/6/2008 08:26:17
2,4,5,1616,19715,8647,1986,1,175,26.25,6/9/2008 08:38:52
3,5,6,47402,14115,8240,2069,2,154,23.10,8/31/2008 09:17:02
4,6,10,24858,24888,3375,2023,2,394,59.10,7/16/2008 11:59:24

## Q2 Explore and SELECT - 5 point

Let's start this homework with some basic queries to get a look at what's in the various tables.  I want you to do the following.

* Use your get_table_names() function to see what tables are in the database.
* Use your get_column_names() to get the column names of each of the tables.  **Do this all within a single cell to keep it neat**.
* Make and run a query that selects all columns from the event table.  Only return the first 5 rows.
* Use the `sql_head()` function you created to get the first five rows of the sales table.

In [5]:
## Q2 Your function starts here
# Getting table names
get_table_names()

[('sales',),
 ('venue',),
 ('event',),
 ('users',),
 ('category',),
 ('listing',),
 ('date',)]

In [6]:
# Getting column names
for i in get_table_names():
  print(get_column_names(table_name = i[0]))

[('sales_id',), ('list_id',), ('seller_id',), ('buyer_id',), ('event_id',), ('date_id',), ('qty_sold',), ('price_paid',), ('commission',), ('sale_time',)]
[('venue_id',), ('venue_seats',), ('venue_name',), ('venue_city',), ('venue_state',)]
[('event_id',), ('venue_id',), ('cat_id',), ('date_id',), ('start_time',), ('event_name',)]
[('user_id',), ('user_name',), ('first_name',), ('last_name',), ('city',), ('state',), ('email',), ('phone',), ('like_sports',), ('like_theatre',), ('like_concerts',), ('like_jazz',), ('like_classical',), ('like_opera',), ('like_rock',), ('like_vegas',), ('like_broadway',), ('like_musicals',)]
[('cat_id',), ('cat_group',), ('cat_name',), ('cat_desc',)]
[('list_id',), ('seller_id',), ('event_id',), ('date_id',), ('num_tickets',), ('price_per_ticket',), ('total_price',), ('list_time',)]
[('date_id',), ('qtr',), ('year',), ('holiday',), ('week',), ('cal_date',), ('day',), ('month',)]

In [7]:
# Could also just use a list comprehension vs a bunch of print statements :)
names = get_table_names()
[get_column_names(table_name= x) for x in names]

[[('sales_id',),
  ('list_id',),
  ('seller_id',),
  ('buyer_id',),
  ('event_id',),
  ('date_id',),
  ('qty_sold',),
  ('price_paid',),
  ('commission',),
  ('sale_time',)],
 [('venue_id',),
  ('venue_seats',),
  ('venue_name',),
  ('venue_city',),
  ('venue_state',)],
 [('event_id',),
  ('venue_id',),
  ('cat_id',),
  ('date_id',),
  ('start_time',),
  ('event_name',)],
 [('user_id',),
  ('user_name',),
  ('first_name',),
  ('last_name',),
  ('city',),
  ('state',),
  ('email',),
  ('phone',),
  ('like_sports',),
  ('like_theatre',),
  ('like_concerts',),
  ('like_jazz',),
  ('like_classical',),
  ('like_opera',),
  ('like_rock',),
  ('like_vegas',),
  ('like_broadway',),
  ('like_musicals',)],
 [('cat_id',), ('cat_group',), ('cat_name',), ('cat_desc',)],
 [('list_id',),
  ('seller_id',),
  ('event_id',),
  ('date_id',),
  ('num_tickets',),
  ('price_per_ticket',),
  ('total_price',),
  ('list_time',)],
 [('date_id',),
  ('qtr',),
  ('year',),
  ('holiday',),
  ('week',),
  ('cal_date',),
  ('day',),
  ('month',)]]

In [8]:
# Query on events
sq = """ SELECT *
FROM event
LIMIT 5"""
run_query(sq)

(['event_id', 'venue_id', 'cat_id', 'date_id', 'event_name', 'start_time'],
 [(2, 306, 8, 2114, 'Boris Godunov', datetime.datetime(2008, 10, 15, 20, 0)),
  (3, 302, 8, 1935, 'Salome', datetime.datetime(2008, 4, 19, 14, 30)),
  (4,
   309,
   8,
   2090,
   'La Cenerentola (Cinderella)',
   datetime.datetime(2008, 9, 21, 14, 30)),
  (5, 302, 8, 1982, 'Il Trovatore', datetime.datetime(2008, 6, 5, 19, 0)),
  (6,
   308,
   8,
   2109,
   'L Elisir d Amore',
   datetime.datetime(2008, 10, 10, 19, 30))])

In [9]:
# Use sql_head to get the head of sales
sql_head(table_name = 'sales')
## Q2 Your function ends here - Any code outside of these start/end markers won't be graded

<ipython-input-3-4e7c988bffb5>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_head_df = pd.read_sql_query(query, conn)

,sales_id,list_id,seller_id,buyer_id,event_id,date_id,qty_sold,price_paid,commission,sale_time
0,2,4,8117,11498,4337,1983,2,76,11.40,6/6/2008 05:00:16
1,3,5,1616,17433,8647,1983,2,350,52.50,6/6/2008 08:26:17
2,4,5,1616,19715,8647,1986,1,175,26.25,6/9/2008 08:38:52
3,5,6,47402,14115,8240,2069,2,154,23.10,8/31/2008 09:17:02
4,6,10,24858,24888,3375,2023,2,394,59.10,7/16/2008 11:59:24

## Q3 WHERE - 5 points

Now let's do a bit of filtering with WHERE.  Write and run queries to get the following results.  
**LIMIT all returns to first five rows.**

* Get venues (**full row of data, including venue_id, etc.**) with >= 10000 seats from the venues table
* Get venues (**full row of data, including venue_id, etc.**) in Arizona
* Get users (**just the first names**) who have a first name that starts with H
* Get the email addresses (**just the email addresses**) of users who gave a .edu email address

In [10]:
## Q3 Your function starts here
# Get big venues... so those with >= than 10000 seats
sq1 = """ SELECT *
          FROM venue
          WHERE venue_seats >= 10000
          LIMIT 5"""

run_query(sq1)

(['venue_id', 'venue_name', 'venue_city', 'venue_state', 'venue_seats'],
 [(5, 'Gillette Stadium', 'Foxborough', 'MA', 68756),
  (6, 'New York Giants Stadium', 'East Rutherford', 'NJ', 80242),
  (15, 'McAfee Coliseum', 'Oakland', 'CA', 63026),
  (18, 'Madison Square Garden', 'New York City', 'NY', 20000),
  (67, 'Ralph Wilson Stadium', 'Orchard Park', 'NY', 73967)])

In [11]:
# Get venues in AZ
sq2 = """ SELECT *
          FROM venue
          WHERE venue_state = 'AZ'
          LIMIT 5;"""
run_query(sq2)

(['venue_id', 'venue_name', 'venue_city', 'venue_state', 'venue_seats'],
 [(38, 'US Airways Center', 'Phoenix', 'AZ', 0),
  (65, 'Jobing.com Arena', 'Glendale', 'AZ', 0),
  (92, 'University of Phoenix Stadium', 'Glendale', 'AZ', 0),
  (117, 'Chase Field', 'Phoenix', 'AZ', 0)])

In [12]:
#Get users who have a first name that starts with H
sq3 = """ SELECT first_name
          FROM users
          WHERE first_name LIKE 'H%'
          LIMIT 5;"""
run_query(sq3)

(['first_name'],
 [('Henry',), ('Hermione',), ('Helen',), ('Howard',), ('Herman',)])

In [13]:
# Get all .edu email addresses... just the email addresses
sq4 = """ SELECT email
          FROM users
          WHERE email LIKE '%.edu'
          LIMIT 5;"""
run_query(sq4)
## Q3 Your function ends here - Any code outside of these start/end markers won't be graded

(['email'],
 [('Suspendisse.tristique@nonnisiAenean.edu',),
  ('ullamcorper.nisl@Cras.edu',),
  ('vel.est@velitegestas.edu',),
  ('justo.nec.ante@quismassa.edu',),
  ('non.justo.Proin@ametconsectetuer.edu',)])

## Q4 GROUP BY and HAVING - 5 points

Time to practice some GROUP BY and HAVING operations. Please write and run queries that do the following:

GROUP BY application
* Find the top five venues that hosted the most events: Alias the count of events as 'events_hosted'. Also return the venue ID
* Get the number of events hosted in each month. You'll need to use `date_part()` in your select to select just the months. Alias this as 'month' and then the count of the number of events hosted as 'events_hosted'.
* Get the top five sellers who made the most commission. Alias their total commission made as 'total_com'. Also get their average commission made and alias as 'avg_com'.  Be sure to also display the seller_id.  

HAVING application
* Using the same query as the last one, instead of getting the top five sellers get all sellers who have made a total commission greater than $4000.
* Using the same query as the first groupby, instead of returning the top five venues, return just the ID's of venues that have had greater than 60 events.

In [14]:
## Q4 Your function starts here
### GROUP BY application
# Find the top five venues that hosted the most events: Alias the count of events as 'events_hosted'. Also return the venue ID
sq1 = """ SELECT venue_id,
          COUNT(*) AS events_hosted
          FROM venue
          GROUP BY venue_id
          ORDER BY events_hosted DESC
          LIMIT 5;"""
run_query(sq1)

(['venue_id', 'events_hosted'],
 [(87, 1), (71, 1), (229, 1), (68, 1), (116, 1)])

In [15]:
# Get the number of events hosted in each month. You'll need to use `date_part()` in your select to select just the months.
# Alias this as 'month' and then the count of the number of events hosted as 'events_hosted'
sq2 = """ SELECT date_part('month', start_time) AS month,
          COUNT(*) AS events_hosted
          FROM event
          GROUP BY month
          ORDER BY month;"""
run_query(sq2)

(['month', 'events_hosted'],
 [(1.0, 777),
  (2.0, 711),
  (3.0, 753),
  (4.0, 725),
  (5.0, 727),
  (6.0, 709),
  (7.0, 729),
  (8.0, 737),
  (9.0, 746),
  (10.0, 735),
  (11.0, 726),
  (12.0, 722)])

In [16]:
sql_head(table_name = 'event')

<ipython-input-3-4e7c988bffb5>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_head_df = pd.read_sql_query(query, conn)

,event_id,venue_id,cat_id,date_id,event_name,start_time
0,2,306,8,2114,Boris Godunov,2008-10-15 20:00:00
1,3,302,8,1935,Salome,2008-04-19 14:30:00
2,4,309,8,2090,La Cenerentola (Cinderella),2008-09-21 14:30:00
3,5,302,8,1982,Il Trovatore,2008-06-05 19:00:00
4,6,308,8,2109,L Elisir d Amore,2008-10-10 19:30:00

In [17]:
# Get the top five sellers who made the most commission. Alias their total commission made as 'total_com'.
# Also get their average commission made and alias as 'avg_com'. Be sure to also display the seller_id
sq3 = """ SELECT seller_id,
       SUM(commission) AS total_com,
       AVG(commission) AS avg_com
       FROM sales
       GROUP BY seller_id
       ORDER BY total_com DESC
       LIMIT 5;"""
run_query(sq3)

(['seller_id', 'total_com', 'avg_com'],
 [(1140, 4859.85, 347.13214285714287),
  (43551, 4704.75, 470.475),
  (13385, 4274.25, 388.5681818181818),
  (25433, 4147.95, 518.49375),
  (2372, 4073.85, 678.975)])

In [18]:
### HAVING application
# Using the same query as the last groupby, instead of getting the top five sellers get all sellers who have made a total commission greater than $4000
sq4 = """ SELECT seller_id,
          SUM(commission) AS total_com,
          AVG(commission) AS avg_com
          FROM sales
          GROUP BY seller_id
          HAVING SUM(commission) > 4000
          ORDER BY total_com DESC;"""
run_query(sq4)

(['seller_id', 'total_com', 'avg_com'],
 [(1140, 4859.85, 347.13214285714287),
  (43551, 4704.75, 470.475),
  (13385, 4274.25, 388.5681818181818),
  (25433, 4147.95, 518.49375),
  (2372, 4073.85, 678.975)])

In [19]:
# Using the same query as the first groupby, instead of returning the top five venues, return just the ID's of venues that have had greater than 60 events
sq5 = """ SELECT venue_id
          FROM event
          GROUP BY venue_id
          HAVING COUNT(*) > 60
          LIMIT 5;"""
run_query(sq5)
## Q4 Your function ends here - Any code outside of these start/end markers won't be graded

(['venue_id'], [(237,), (238,), (239,), (226,), (209,)])

## Q5 JOIN - 5 points

Time for some joins. You've probably noticed by now that there is at least one relational key in each table, but some have more.  For example, sales has a unique sale id, listing id, seller id, buyer id, date id.  This allows you to link each sale to relevant information in other tables.  
**LIMIT each output to 5**

Please write queries to do the following items:

* Join information of users to each sale made.  
* Join information about each venue to each event.

In [20]:
## Q5 Your function starts here
sq1 = """ SELECT * FROM sales
          LIMIT 5;"""
run_query(sq1)

(['sales_id',
  'list_id',
  'seller_id',
  'buyer_id',
  'event_id',
  'date_id',
  'qty_sold',
  'price_paid',
  'commission',
  'sale_time'],
 [(2, 4, 8117, 11498, 4337, 1983, 2, 76, 11.4, '6/6/2008 05:00:16'),
  (3, 5, 1616, 17433, 8647, 1983, 2, 350, 52.5, '6/6/2008 08:26:17'),
  (4, 5, 1616, 19715, 8647, 1986, 1, 175, 26.25, '6/9/2008 08:38:52'),
  (5, 6, 47402, 14115, 8240, 2069, 2, 154, 23.1, '8/31/2008 09:17:02'),
  (6, 10, 24858, 24888, 3375, 2023, 2, 394, 59.1, '7/16/2008 11:59:24')])

In [21]:
sq2 = """ SELECT * FROM users
          LIMIT 5;"""
run_query(sq2)

(['user_id',
  'user_name',
  'first_name',
  'last_name',
  'city',
  'state',
  'email',
  'phone',
  'like_sports',
  'like_theatre',
  'like_concerts',
  'like_jazz',
  'like_classical',
  'like_opera',
  'like_rock',
  'like_vegas',
  'like_broadway',
  'like_musicals'],
 [(2,
   'PGL08LJI',
   'Vladimir',
   'Humphrey',
   'Murfreesboro',
   'SK',
   'Suspendisse.tristique@nonnisiAenean.edu',
   '(783) 492-1886',
   None,
   None,
   None,
   'True',
   'True',
   None,
   None,
   'True',
   'False',
   'True'),
  (3,
   'IFT66TXU',
   'Lars',
   'Ratliff',
   'High Point',
   'ME',
   'amet.faucibus.ut@condimentumegetvolutpat.ca',
   '(624) 767-2465',
   'True',
   'False',
   None,
   'False',
   None,
   'False',
   'True',
   None,
   None,
   'True'),
  (4,
   'XDZ38RDD',
   'Barry',
   'Roy',
   'Omaha',
   'AB',
   'sed@lacusUtnec.ca',
   '(355) 452-8168',
   'False',
   'True',
   None,
   'False',
   None,
   None,
   None,
   None,
   None,
   'False'),
  (5,
   'AEB55QTM',
   'Reagan',
   'Hodge',
   'Forest Lake',
   'NS',
   'Cum@accumsan.com',
   '(476) 519-9131',
   None,
   None,
   'True',
   'False',
   None,
   None,
   'True',
   'True',
   'False',
   'True'),
  (6,
   'NDQ15VBM',
   'Victor',
   'Hernandez',
   'Naperville',
   'GA',
   'turpis@accumsanlaoreet.org',
   '(818) 765-4255',
   'False',
   None,
   None,
   'True',
   None,
   'True',
   'True',
   'True',
   'True',
   'True')])

In [22]:
get_column_names(table_name='users')

[('user_id',),
 ('user_name',),
 ('first_name',),
 ('last_name',),
 ('city',),
 ('state',),
 ('email',),
 ('phone',),
 ('like_sports',),
 ('like_theatre',),
 ('like_concerts',),
 ('like_jazz',),
 ('like_classical',),
 ('like_opera',),
 ('like_rock',),
 ('like_vegas',),
 ('like_broadway',),
 ('like_musicals',)]

In [23]:
get_column_names(table_name='sales')

[('sales_id',),
 ('list_id',),
 ('seller_id',),
 ('buyer_id',),
 ('event_id',),
 ('date_id',),
 ('qty_sold',),
 ('price_paid',),
 ('commission',),
 ('sale_time',)]

In [24]:
# Join users information to each sale
sq3 = """ SELECT *
          FROM sales
          JOIN users
          ON sales.buyer_id = users.user_id
          LIMIT 5;"""
run_query(sq3)

(['sales_id',
  'list_id',
  'seller_id',
  'buyer_id',
  'event_id',
  'date_id',
  'qty_sold',
  'price_paid',
  'commission',
  'sale_time',
  'user_id',
  'user_name',
  'first_name',
  'last_name',
  'city',
  'state',
  'email',
  'phone',
  'like_sports',
  'like_theatre',
  'like_concerts',
  'like_jazz',
  'like_classical',
  'like_opera',
  'like_rock',
  'like_vegas',
  'like_broadway',
  'like_musicals'],
 [(4,
   5,
   1616,
   19715,
   8647,
   1986,
   1,
   175,
   26.25,
   '6/9/2008 08:38:52',
   19715,
   'PZY80KEH',
   'Alexander',
   'Spencer',
   'Jordan Valley',
   'ID',
   'amet@est.edu',
   '(963) 349-0806',
   'False',
   'False',
   None,
   'False',
   None,
   None,
   None,
   None,
   'False',
   None),
  (5,
   6,
   47402,
   14115,
   8240,
   2069,
   2,
   154,
   23.1,
   '8/31/2008 09:17:02',
   14115,
   'XPD71EYG',
   'Pamela',
   'Foster',
   'Wheeling',
   'VA',
   'sociis.natoque.penatibus@magnisdis.org',
   '(370) 761-6313',
   'False',
   'False',
   None,
   'True',
   'False',
   None,
   None,
   'False',
   'False',
   None),
  (6,
   10,
   24858,
   24888,
   3375,
   2023,
   2,
   394,
   59.1,
   '7/16/2008 11:59:24',
   24888,
   'QDE27MBM',
   'Simon',
   'Battle',
   'Lockport',
   'NH',
   'fermentum.arcu@sitametante.org',
   '(512) 901-0259',
   None,
   None,
   'True',
   'True',
   None,
   'True',
   None,
   None,
   'False',
   'False'),
  (8,
   10,
   24858,
   19715,
   3375,
   2017,
   1,
   197,
   29.55,
   '7/10/2008 02:12:36',
   19715,
   'PZY80KEH',
   'Alexander',
   'Spencer',
   'Jordan Valley',
   'ID',
   'amet@est.edu',
   '(963) 349-0806',
   'False',
   'False',
   None,
   'False',
   None,
   None,
   None,
   None,
   'False',
   None),
  (9,
   10,
   24858,
   29891,
   3375,
   2029,
   3,
   591,
   88.65,
   '7/22/2008 02:23:17',
   29891,
   'YVR43ZZK',
   'Stone',
   'Wiggins',
   'Sierra Vista',
   'OK',
   'vitae.risus.Duis@nonantebibendum.ca',
   '(225) 417-7016',
   None,
   None,
   None,
   'False',
   None,
   'False',
   'True',
   None,
   None,
   None)])

In [25]:
# For each event attach the venue information
sq4 = """ SELECT *
          FROM event
          JOIN venue
          ON event.venue_id = venue.venue_id
          LIMIT 5;"""
run_query(sq4)
## Q5 Your function ends here - Any code outside of these start/end markers won't be graded

(['event_id',
  'venue_id',
  'cat_id',
  'date_id',
  'event_name',
  'start_time',
  'venue_id',
  'venue_name',
  'venue_city',
  'venue_state',
  'venue_seats'],
 [(2,
   306,
   8,
   2114,
   'Boris Godunov',
   datetime.datetime(2008, 10, 15, 20, 0),
   306,
   'Lyric Opera House',
   'Baltimore',
   'MD',
   0),
  (3,
   302,
   8,
   1935,
   'Salome',
   datetime.datetime(2008, 4, 19, 14, 30),
   302,
   'Detroit Opera House',
   'Detroit',
   'MI',
   0),
  (4,
   309,
   8,
   2090,
   'La Cenerentola (Cinderella)',
   datetime.datetime(2008, 9, 21, 14, 30),
   309,
   'Los Angeles Opera',
   'Los Angeles',
   'CA',
   0),
  (5,
   302,
   8,
   1982,
   'Il Trovatore',
   datetime.datetime(2008, 6, 5, 19, 0),
   302,
   'Detroit Opera House',
   'Detroit',
   'MI',
   0),
  (6,
   308,
   8,
   2109,
   'L Elisir d Amore',
   datetime.datetime(2008, 10, 10, 19, 30),
   308,
   'Metropolitan Opera',
   'New York City',
   'NY',
   0)])

## Q 6 Subqueries - 5 points

To wrap up let's do several subqueries. Please do the following:

* Get all purchases made by users of live in Arizona
* Get event information for all events that took place in a venue where the venue name ends with 'Stadium'.
* Get event information for all events where the total ticket sales were greater than $50,000.

In [26]:
## Q6 Your function starts here
# Get all purchases from users who live in Arizona
sq1 = """ SELECT *
          FROM sales
          WHERE buyer_id IN (SELECT user_id
          FROM users
          WHERE state = 'AZ');"""
run_query(sq1)

(['sales_id',
  'list_id',
  'seller_id',
  'buyer_id',
  'event_id',
  'date_id',
  'qty_sold',
  'price_paid',
  'commission',
  'sale_time'],
 [(43, 47, 49346, 33489, 8577, 2141, 2, 378, 56.7, '11/11/2008 09:51:06'),
  (79, 101, 37592, 7079, 3340, 1878, 1, 36, 5.4, '2/21/2008 10:32:10'),
  (81, 103, 26314, 7079, 15, 2033, 1, 181, 27.15, '7/26/2008 11:04:13'),
  (83, 106, 12538, 7079, 250, 1884, 1, 109, 16.35, '2/27/2008 11:58:35'),
  (154, 162, 27703, 46451, 2906, 1907, 3, 426, 63.9, '3/22/2008 05:21:40'),
  (173, 176, 3941, 10086, 3097, 2155, 2, 40, 6.0, '11/25/2008 09:20:09'),
  (218, 231, 21568, 41178, 1077, 2140, 2, 458, 68.7, '11/10/2008 04:12:53'),
  (260, 267, 23965, 7079, 4288, 2135, 2, 270, 40.5, '11/5/2008 11:27:05'),
  (327, 321, 44084, 41178, 1237, 1893, 2, 396, 59.4, '3/8/2008 10:10:23'),
  (368, 361, 36225, 7079, 7857, 2139, 2, 396, 59.4, '11/9/2008 03:12:00'),
  (591, 597, 4168, 3181, 8131, 2039, 4, 844, 126.6, '8/1/2008 05:38:55'),
  (717, 743, 6621, 24584, 2233, 1965, 4, 300, 45.0, '5/19/2008 06:42:34'),
  (767, 782, 24749, 21507, 2120, 1930, 2, 110, 16.5, '4/14/2008 11:32:51'),
  (860, 872, 15798, 40597, 2249, 1997, 4, 372, 55.8, '6/20/2008 08:57:51'),
  (989, 999, 8141, 3181, 7284, 2097, 4, 772, 115.8, '9/28/2008 07:48:18'),
  (1176, 1221, 233, 1285, 7973, 1860, 2, 320, 48.0, '2/3/2008 11:09:38'),
  (1306, 1380, 7634, 27494, 7982, 2057, 4, 564, 84.6, '8/19/2008 09:04:04'),
  (1572, 1678, 32145, 7079, 6646, 2086, 2, 414, 62.1, '9/17/2008 04:57:57'),
  (1951, 2097, 33908, 24449, 8536, 1909, 2, 434, 65.1, '3/24/2008 03:05:31'),
  (2053, 2198, 17797, 3181, 610, 2156, 4, 728, 109.2, '11/26/2008 08:31:54'),
  (2066, 2217, 42102, 1285, 8234, 1898, 2, 464, 69.6, '3/13/2008 09:40:34'),
  (2101, 2246, 48938, 39155, 1788, 2128, 1, 115, 17.25, '10/29/2008 12:05:45'),
  (2283, 2457, 46008, 26052, 1241, 2110, 3, 606, 90.9, '10/11/2008 09:31:50'),
  (2319, 2489, 31876, 1285, 2016, 1945, 2, 354, 53.1, '4/29/2008 11:26:23'),
  (2454, 2627, 38477, 1285, 4556, 1840, 2, 192, 28.8, '1/14/2008 06:54:01'),
  (2507, 2680, 37228, 33935, 2074, 1989, 3, 423, 63.45, '6/12/2008 10:06:55'),
  (2515, 2687, 29895, 27494, 722, 1881, 4, 776, 116.4, '2/24/2008 10:22:19'),
  (2550, 2736, 5999, 10086, 6778, 2149, 2, 60, 9.0, '11/19/2008 11:53:38'),
  (2611, 2798, 25075, 12900, 3514, 1989, 4, 508, 76.2, '6/12/2008 02:11:32'),
  (2722, 2930, 36164, 21507, 8124, 1953, 2, 174, 26.1, '5/7/2008 07:31:46'),
  (2808, 3003, 47329, 39155, 222, 1973, 1, 226, 33.9, '5/27/2008 12:11:31'),
  (2849, 3045, 9358, 21507, 1488, 1883, 2, 128, 19.2, '2/26/2008 01:58:10'),
  (2867, 3064, 37318, 10086, 2952, 1937, 2, 296, 44.4, '4/21/2008 03:08:59'),
  (2970, 3166, 7451, 2921, 1560, 2088, 2, 68, 10.2, '9/19/2008 07:48:21'),
  (3058, 3276, 1599, 43099, 6700, 2075, 2, 334, 50.1, '9/6/2008 12:04:37'),
  (3094, 3314, 36103, 20334, 2948, 1904, 1, 25, 3.75, '3/19/2008 02:12:27'),
  (3151, 3377, 18670, 20334, 3875, 1914, 1, 250, 37.5, '3/29/2008 04:43:27'),
  (3174, 3406, 38736, 24584, 161, 2007, 4, 944, 141.6, '6/30/2008 05:37:39'),
  (3238, 3484, 47920, 21784, 4098, 2072, 4, 204, 30.6, '9/3/2008 08:06:35'),
  (3288, 3555, 27182, 22897, 1165, 1911, 1, 35, 5.25, '3/26/2008 10:19:25'),
  (3514, 3785, 33751, 2508, 3882, 2050, 1, 75, 11.25, '8/12/2008 07:32:39'),
  (3531, 3810, 36154, 2508, 3215, 2150, 1, 244, 36.6, '11/20/2008 08:27:30'),
  (3682, 3982, 30455, 24584, 859, 2107, 4, 356, 53.4, '10/8/2008 02:34:06'),
  (3708, 4009, 24486, 813, 1361, 2066, 2, 190, 28.5, '8/28/2008 03:48:36'),
  (3864, 4166, 13860, 34913, 1019, 2179, 2, 220, 33.0, '12/19/2008 10:02:22'),
  (3911, 4207, 10339, 2508, 156, 2026, 1, 143, 21.45, '7/19/2008 11:35:19'),
  (4066, 4362, 24791, 21131, 4182, 2016, 4, 532, 79.8, '7/9/2008 05:26:09'),
  (4122, 4431, 44033, 2921, 7355, 2115, 2, 224, 33.6, '10/16/2008 08:10:02'),
  (4163, 4473, 27726, 2921, 283, 2070, 2, 228, 34.2, '9/1/2008 09:52:04'),
  (4229, 4558, 48741, 813, 1908, 2065, 2, 204, 30.6, '8/27/2008 12:41:06'),
  (4308, 4651, 5851, 813, 1273, 1919, 2, 428, 64.2, '4/3/2008 03:51:11'),
  (4310, 4657, 20890, 2508, 4186, 2022, 1, 146, 21.9, '7/15/2008 03:52:35'),
  (4330, 4673, 43204, 813, 5199, 2031, 2, 164, 24.6, '7/24/2008 04:45:32'),
  (4469, 4809, 36237, 22897, 8634, 1900, 1, 80, 12.0, '3/15/2008 09:48:09'),
  (4498, 4840, 37129, 2054, 6040, 2119, 2, 426, 63.9, '10/20/2008 10:42:56'),
  (4657, 5013, 24019, 24381, 7243, 2095, 1, 106, 15.9, '9/26/2008 04:32:43'),
  (4753, 5116, 42257, 12347, 4843, 2032, 1, 171, 25.65, '7/25/2008 08:06:01'),
  (4804, 5174, 19494, 37112, 5587, 2128, 2, 112, 16.8, '10/29/2008 09:49:15'),
  (4806, 5174, 19494, 12347, 5587, 2098, 1, 56, 8.4, '9/29/2008 09:56:05'),
  (4853, 5215, 33446, 29529, 1562, 1991, 4, 104, 15.6, '6/14/2008 11:40:09'),
  (4873, 5239, 18550, 22897, 3199, 2067, 1, 188, 28.2, '8/29/2008 12:20:53'),
  (5000, 5354, 31179, 2921, 3556, 2027, 2, 52, 7.8, '7/20/2008 05:04:42'),
  (5097, 5480, 34701, 12347, 7866, 2068, 1, 30, 4.5, '8/30/2008 08:20:37'),
  (5161, 5542, 7981, 22441, 2170, 2177, 2, 374, 56.1, '12/17/2008 10:19:59'),
  (5225, 5624, 34224, 14366, 2019, 1967, 2, 332, 49.8, '5/21/2008 12:38:01'),
  (5478, 5916, 38181, 12822, 5088, 2029, 1, 105, 15.75, '7/22/2008 09:35:44'),
  (5483, 5919, 20473, 12900, 7996, 2111, 4, 424, 63.6, '10/12/2008 09:40:22'),
  (5497, 5941, 26792, 9215, 3612, 2151, 2, 130, 19.5, '11/21/2008 10:06:33'),
  (5823, 6322, 26748, 27305, 4190, 1972, 1, 107, 16.05, '5/26/2008 09:01:34'),
  (5824, 6324, 44927, 27305, 4926, 1948, 1, 51, 7.65, '5/2/2008 09:01:42'),
  (5885, 6384, 36684, 12900, 3609, 2128, 4, 216, 32.4, '10/29/2008 11:42:06'),
  (5886, 6385, 20911, 27305, 8429, 1870, 1, 130, 19.5, '2/13/2008 11:43:34'),
  (5989, 6511, 48832, 2054, 8309, 1993, 2, 338, 50.7, '6/16/2008 02:42:26'),
  (6075, 6599, 15093, 429, 553, 1982, 1, 30, 4.5, '6/5/2008 05:34:54'),
  (6112, 6637, 3308, 429, 3485, 2064, 1, 60, 9.0, '8/26/2008 06:54:21'),
  (6113, 6638, 1099, 22441, 296, 2053, 2, 210, 31.5, '8/15/2008 06:55:41'),
  (6210, 6745, 22095, 2054, 8230, 2138, 2, 240, 36.0, '11/8/2008 10:17:57'),
  (6494, 7063, 43265, 429, 2855, 1949, 1, 70, 10.5, '5/3/2008 07:52:21'),
  (6507, 7077, 24714, 429, 3740, 2001, 1, 188, 28.2, '6/24/2008 08:13:45'),
  (6740, 7338, 42617, 30326, 4907, 2044, 2, 236, 35.4, '8/6/2008 04:39:35'),
  (6813, 7398, 41223, 24399, 2910, 2048, 4, 584, 87.6, '8/10/2008 07:03:53'),
  (6834, 7419, 5914, 21131, 7133, 2156, 4, 636, 95.4, '11/26/2008 07:41:01'),
  (6864, 7439, 25416, 38238, 3817, 1992, 1, 89, 13.35, '6/15/2008 08:41:45'),
  (7010, 7610, 39860, 30326, 8630, 2094, 2, 184, 27.6, '9/25/2008 01:51:43'),
  (7138, 7737, 46375, 25273, 3611, 2093, 2, 274, 41.1, '9/24/2008 05:20:51'),
  (7149, 7741, 33190, 29055, 6629, 2032, 3, 696, 104.4, '7/25/2008 05:36:19'),
  (7288, 7884, 25673, 21131, 832, 1932, 4, 384, 57.6, '4/16/2008 10:03:52'),
  (7354, 7955, 668, 17376, 3682, 2026, 2, 200, 30.0, '7/19/2008 12:02:21'),
  (7552, 8188, 21588, 38445, 6121, 2150, 1, 77, 11.55, '11/20/2008 06:09:59'),
  (7566, 8196, 46659, 12822, 3279, 1893, 1, 71, 10.65, '3/8/2008 06:39:05'),
  (7591, 8219, 42044, 12347, 6990, 2055, 1, 213, 31.95, '8/17/2008 07:28:58'),
  (7626, 8252, 18736, 8381, 2717, 1949, 1, 245, 36.75, '5/3/2008 08:28:14'),
  (7752, 8361, 14286, 25273, 4570, 1975, 2, 330, 49.5, '5/29/2008 11:36:55'),
  (7817, 8437, 8336, 2054, 8146, 2095, 2, 186, 27.9, '9/26/2008 02:00:02'),
  (7989, 8598, 40442, 12822, 7674, 2097, 1, 179, 26.85, '9/28/2008 07:38:21'),
  (7994, 8604, 41814, 12822, 6992, 1965, 1, 218, 32.7, '5/19/2008 07:41:45'),
  (8063, 8675, 41226, 19909, 3790, 2007, 2, 374, 56.1, '6/30/2008 09:53:17'),
  (8088, 8696, 534, 33418, 2083, 2039, 4, 724, 108.6, '8/1/2008 10:37:36'),
  (8169, 8777, 36730, 8381, 546, 2062, 1, 153, 22.95, '8/24/2008 12:52:00'),
  (8338, 8960, 13115, 21131, 5778, 2131, 4, 168, 25.2, '11/1/2008 05:38:50'),
  (8408, 9030, 43919, 26024, 2251, 1943, 2, 268, 40.2, '4/27/2008 07:13:48'),
  (8507, 9151, 9867, 29494, 7866, 2092, 1, 109, 16.35, '9/23/2008 10:07:01'),
  (8522, 9172, 9271, 19909, 2930, 2179, 2, 210, 31.5, '12/19/2008 10:27:34'),
  (8726, 9412, 41000, 25273, 6738, 1941, 2, 362, 54.3, '4/25/2008 04:28:51'),
  (8738, 9418, 42721, 8381, 8707, 2143, 1, 115, 17.25, '11/13/2008 04:55:29'),
  (8789, 9475, 30243, 24399, 7075, 2119, 4, 96, 14.4, '10/20/2008 06:13:23'),
  (8809, 9491, 29804, 2379, 5940, 1981, 1, 111, 16.65, '6/4/2008 06:32:10'),
  (9177, 9933, 32587, 34959, 7639, 2083, 1, 164, 24.6, '9/14/2008 04:17:19'),
  (9223, 9983, 34378, 38399, 5796, 1901, 4, 152, 22.8, '3/16/2008 05:29:24'),
  (9266, 10041, 45370, 38399, 3626, 1943, 4, 904, 135.6, '4/27/2008 06:13:51'),
  (9310, 10079, 8974, 9378, 7869, 1912, 3, 366, 54.9, '3/27/2008 07:28:31'),
  (9369, 10153, 47280, 25273, 1892, 2117, 2, 406, 60.9, '10/18/2008 09:02:14'),
  (9683, 10490, 8969, 2649, 4673, 2084, 1, 89, 13.35, '9/15/2008 05:34:34'),
  (9754, 10584, 5246, 29494, 6909, 2131, 1, 205, 30.75, '11/1/2008 07:06:27'),
  (9784, 10614, 28558, 10513, 6694, 2099, 3, 684, 102.6, '9/30/2008 07:54:07'),
  (9908, 10777, 14991, 19909, 6688, 1966, 2, 66, 9.9, '5/20/2008 10:40:40'),
  (10011, 10898, 28059, 2649, 4870, 2125, 1, 48, 7.2, '10/26/2008 12:46:58'),
  (10024, 10912, 13520, 2649, 2225, 2036, 1, 29, 4.35, '7/29/2008 01:04:57'),
  (10096, 10998, 43046, 19163, 6752, 1858, 2, 434, 65.1, '2/1/2008 02:47:35'),
  (10128, 11044, 26553, 26024, 186, 2042, 2, 118, 17.7, '8/4/2008 03:39:39'),
  (10139, 11052, 14114, 24399, 3913, 1958, 4, 136, 20.4, '5/12/2008 03:55:32'),
  (10213, 11135, 38644, 2649, 439, 2080, 1, 161, 24.15, '9/11/2008 05:46:53'),
  (10253, 11175, 17299, 19163, 2338, 1932, 2, 348, 52.2, '4/16/2008 06:54:33'),
  (10269, 11194, 14096, 5729, 7356, 1933, 1, 88, 13.2, '4/17/2008 07:14:37'),
  (10585, 11509, 16, 22326, 6304, 2026, 1, 42, 6.3, '7/19/2008 03:38:54'),
  (10772, 11702, 26448, 2379, 1621, 1864, 1, 124, 18.6, '2/7/2008 08:21:33'),
  (10892, 11813, 9220, 26024, 6052, 1885, 2, 486, 72.9, '2/28/2008 11:54:48'),
  (10898, 11817, 22342, 5729, 2718, 1939, 1, 198, 29.7, '4/23/2008 12:04:59'),
  (11006,
   11935,
   11414,
   22326,
   3228,
   1876,
   1,
   175,
   26.25,
   '2/19/2008 03:09:55'),
  (11067, 12006, 35506, 5729, 7254, 2074, 1, 85, 12.75, '9/5/2008 04:36:17'),
  (11094, 12039, 7041, 2379, 724, 2071, 1, 61, 9.15, '9/2/2008 05:19:02'),
  (11240, 12181, 42032, 20202, 2177, 1892, 1, 123, 18.45, '3/7/2008 08:58:22'),
  (11286,
   12226,
   41655,
   20202,
   5812,
   1883,
   1,
   147,
   22.05,
   '2/26/2008 10:11:16'),
  (11288, 12230, 18017, 3563, 988, 2063, 2, 400, 60.0, '8/25/2008 10:16:21'),
  (11464, 12412, 2563, 5729, 3197, 2011, 1, 125, 18.75, '7/4/2008 02:28:29'),
  (11499, 12449, 20572, 2379, 7192, 2157, 1, 35, 5.25, '11/27/2008 03:22:07'),
  (11523,
   12462,
   36512,
   26024,
   7684,
   2119,
   2,
   190,
   28.5,
   '10/20/2008 03:52:46'),
  (11673, 12613, 13035, 10159, 7369, 2076, 2, 126, 18.9, '9/7/2008 07:20:36'),
  (11689, 12627, 35733, 10297, 7432, 2036, 1, 77, 11.55, '7/29/2008 07:52:36'),
  (11725, 12673, 4538, 19040, 4014, 1966, 2, 60, 9.0, '5/20/2008 08:38:48'),
  (11730,
   12675,
   29102,
   11170,
   4517,
   2110,
   1,
   77,
   11.55,
   '10/11/2008 08:46:40'),
  (11734, 12682, 27774, 9327, 2168, 2115, 2, 196, 29.4, '10/16/2008 08:52:29'),
  (11737, 12687, 5395, 3563, 4925, 1935, 2, 116, 17.4, '4/19/2008 08:56:51'),
  (11896, 12868, 46878, 9327, 7537, 1865, 2, 76, 11.4, '2/8/2008 12:54:23'),
  (12186,
   13173,
   28463,
   36719,
   3803,
   2177,
   1,
   237,
   35.55,
   '12/17/2008 07:19:43'),
  (12598, 13610, 48284, 33418, 257, 2028, 4, 488, 73.2, '7/21/2008 04:58:35'),
  (12620, 13632, 9747, 20202, 656, 1908, 1, 86, 12.9, '3/23/2008 05:26:22'),
  (12729, 13738, 42945, 35271, 1266, 2067, 2, 418, 62.7, '8/29/2008 07:57:47'),
  (12749, 13752, 27506, 9327, 1394, 2019, 2, 438, 65.7, '7/12/2008 08:19:44'),
  (12793, 13789, 8205, 3563, 1016, 2035, 2, 316, 47.4, '7/28/2008 09:20:56'),
  (12864, 13854, 45726, 10297, 1223, 2061, 1, 64, 9.6, '8/23/2008 10:35:19'),
  (12889,
   13881,
   35566,
   10297,
   4591,
   2063,
   1,
   235,
   35.25,
   '8/25/2008 11:13:36'),
  (12895, 13884, 31382, 29055, 667, 2020, 3, 456, 68.4, '7/13/2008 11:20:50'),
  (12919, 13910, 7099, 11170, 3637, 2041, 1, 28, 4.2, '8/3/2008 11:57:44'),
  (12944,
   13937,
   38307,
   11170,
   3076,
   2027,
   1,
   189,
   28.35,
   '7/20/2008 12:38:33'),
  (13182, 14242, 22003, 11170, 3247, 1924, 1, 108, 16.2, '4/8/2008 05:55:32'),
  (13189, 14247, 11591, 35271, 2569, 2015, 2, 324, 48.6, '7/8/2008 06:00:54'),
  (13259, 14316, 19438, 10159, 3843, 1975, 2, 350, 52.5, '5/29/2008 07:47:14'),
  (13284, 14345, 48559, 44817, 2411, 2105, 2, 442, 66.3, '10/6/2008 08:28:14'),
  (13295, 14358, 46743, 3563, 194, 2124, 2, 130, 19.5, '10/25/2008 08:44:55'),
  (13306, 14374, 43883, 37202, 454, 1994, 1, 217, 32.55, '6/17/2008 08:59:07'),
  (13457, 14563, 41718, 19014, 8011, 1932, 2, 44, 6.6, '4/16/2008 12:13:35'),
  (13508, 14621, 33136, 9378, 7375, 1838, 3, 594, 89.1, '1/12/2008 01:30:49'),
  (13524, 14656, 33851, 26702, 7241, 1903, 2, 208, 31.2, '3/18/2008 01:56:44'),
  (13553, 14685, 42862, 19014, 8631, 2042, 2, 124, 18.6, '8/4/2008 02:38:47'),
  (13569, 14706, 34636, 10159, 2232, 1926, 2, 468, 70.2, '4/10/2008 02:56:07'),
  (13591,
   14727,
   35703,
   29055,
   2951,
   2155,
   3,
   633,
   94.95,
   '11/25/2008 03:22:35'),
  (13644, 14772, 40737, 3183, 8044, 2005, 3, 522, 78.3, '6/28/2008 04:33:17'),
  (13672, 14807, 18802, 36719, 8491, 2070, 1, 105, 15.75, '9/1/2008 05:06:01'),
  (13874, 15025, 10508, 9327, 3146, 2011, 1, 147, 22.05, '7/4/2008 09:08:18'),
  (13895, 15053, 15235, 39343, 7696, 2077, 2, 82, 12.3, '9/8/2008 09:34:26'),
  (14078, 15223, 40296, 10159, 8135, 1987, 2, 194, 29.1, '6/10/2008 01:25:57'),
  (14187, 15329, 48906, 9378, 5630, 2156, 3, 234, 35.1, '11/26/2008 03:47:42'),
  (14224, 15377, 14013, 38238, 3573, 2037, 1, 106, 15.9, '7/30/2008 04:46:59'),
  (14340,
   15512,
   27557,
   41229,
   6725,
   2144,
   4,
   868,
   130.2,
   '11/14/2008 07:31:08'),
  (14423,
   15593,
   21535,
   10159,
   8590,
   1991,
   4,
   688,
   103.2,
   '6/14/2008 09:23:10'),
  (14452, 15625, 35988, 30339, 6914, 2023, 2, 316, 47.4, '7/16/2008 10:03:25'),
  (14550, 15724, 30882, 33418, 1043, 2072, 4, 680, 102.0, '9/3/2008 12:22:54'),
  (14561, 15737, 27759, 3343, 2275, 2096, 2, 404, 60.6, '9/27/2008 12:39:28'),
  (14629, 15815, 2743, 3343, 8675, 1885, 2, 370, 55.5, '2/28/2008 01:56:04'),
  (14712, 15907, 2261, 38238, 1234, 2146, 1, 186, 27.9, '11/16/2008 03:39:52'),
  (14731,
   15930,
   46716,
   33418,
   5058,
   2150,
   4,
   204,
   30.6,
   '11/20/2008 04:02:52'),
  (14834, 16056, 5226, 29015, 642, 2045, 1, 177, 26.55, '8/7/2008 06:33:51'),
  (14852, 16070, 40574, 9378, 3851, 2132, 3, 570, 85.5, '11/2/2008 06:47:31'),
  (14905, 16134, 11924, 19014, 7384, 2104, 2, 158, 23.7, '10/5/2008 07:54:25'),
  (15023, 16269, 30250, 9327, 2123, 1963, 1, 39, 5.85, '5/17/2008 10:45:11'),
  (15103, 16345, 31015, 39343, 1288, 2148, 2, 78, 11.7, '11/18/2008 12:15:35'),
  (15142, 16375, 40881, 9327, 353, 2148, 1, 24, 3.6, '11/18/2008 01:14:57'),
  (15250, 16510, 23067, 17342, 892, 1895, 2, 66, 9.9, '3/10/2008 03:43:13'),
  (15375, 16642, 38501, 3343, 2888, 2128, 2, 96, 14.4, '10/29/2008 06:13:45'),
  (15430, 16695, 10946, 9327, 1582, 2132, 1, 94, 14.1, '11/2/2008 07:34:03'),
  (15463, 16729, 14856, 10159, 691, 1853, 4, 768, 115.2, '1/27/2008 08:06:19'),
  (15493, 16767, 24377, 17342, 2700, 2010, 2, 416, 62.4, '7/3/2008 08:50:17'),
  (15645, 16931, 44641, 10159, 7702, 1993, 4, 168, 25.2, '6/16/2008 11:46:38'),
  (15679, 16967, 39548, 10513, 927, 1971, 3, 312, 46.8, '5/25/2008 12:34:44'),
  (15750,
   17028,
   29403,
   29015,
   8335,
   1974,
   1,
   127,
   19.05,
   '5/28/2008 01:53:56'),
  (15778, 17056, 36073, 20507, 6147, 1930, 1, 232, 34.8, '4/14/2008 02:35:58'),
  (15841, 17111, 48749, 3343, 1923, 1842, 2, 126, 18.9, '1/16/2008 03:45:26'),
  (15877, 17159, 24809, 38238, 7346, 1907, 1, 78, 11.7, '3/22/2008 04:37:25'),
  (16308, 17642, 5838, 22232, 8741, 1970, 4, 964, 144.6, '5/24/2008 02:01:11'),
  (16331, 17676, 47292, 33938, 563, 1874, 4, 156, 23.4, '2/17/2008 02:26:04'),
  (16470, 17815, 12022, 26567, 8712, 2019, 2, 302, 45.3, '7/12/2008 05:09:48'),
  (16648, 17993, 48305, 551, 6252, 1999, 1, 239, 35.85, '6/22/2008 08:48:42'),
  (17079, 18474, 20421, 2379, 2946, 1943, 2, 454, 68.1, '4/27/2008 06:06:44'),
  (17368,
   18830,
   29371,
   41229,
   7816,
   2091,
   4,
   736,
   110.4,
   '9/22/2008 11:51:32'),
  (17405, 18883, 45808, 2379, 7390, 1984, 2, 134, 20.1, '6/7/2008 12:30:05'),
  (17407, 18884, 39266, 27208, 3507, 1976, 2, 308, 46.2, '5/30/2008 12:32:56'),
  (17615, 19121, 33707, 30993, 750, 1870, 3, 738, 110.7, '2/13/2008 03:55:05'),
  (17649, 19165, 19203, 34627, 4108, 2010, 2, 164, 24.6, '7/3/2008 04:31:31'),
  (17796, 19311, 14970, 551, 8523, 2076, 1, 66, 9.9, '9/7/2008 07:48:05'),
  (17871, 19361, 6097, 22232, 87, 2162, 4, 648, 97.2, '12/2/2008 09:15:03'),
  (18186, 19695, 42704, 551, 8588, 2046, 1, 23, 3.45, '8/8/2008 03:00:09'),
  (18290,
   19806,
   46840,
   26864,
   3408,
   1874,
   1,
   149,
   22.35,
   '2/17/2008 05:06:25'),
  (18352, 19869, 42095, 551, 3132, 2047, 1, 154, 23.1, '8/9/2008 06:03:53'),
  (18424, 19952, 45483, 24038, 3785, 1883, 1, 124, 18.6, '2/26/2008 07:38:29'),
  (18485, 20045, 38714, 2379, 6039, 1963, 2, 236, 35.4, '5/17/2008 08:52:42'),
  (18634, 20186, 6232, 6389, 1992, 1984, 4, 200, 30.0, '6/7/2008 11:42:17'),
  (18674, 20243, 1181, 2379, 7383, 2017, 2, 422, 63.3, '7/10/2008 12:31:19'),
  (18926, 20503, 3550, 27208, 7241, 1922, 2, 340, 51.0, '4/6/2008 05:33:26'),
  (19008, 20588, 21330, 34627, 2900, 1934, 2, 310, 46.5, '4/18/2008 06:47:10'),
  (19012, 20593, 26299, 23015, 6222, 1994, 2, 60, 9.0, '6/17/2008 06:50:04'),
  (19271,
   20864,
   11415,
   18741,
   1253,
   2160,
   2,
   304,
   45.6,
   '11/30/2008 11:38:10'),
  (19414, 21014, 23813, 34627, 5978, 2091, 2, 342, 51.3, '9/22/2008 02:33:31'),
  (19499, 21124, 5761, 38174, 1325, 1997, 2, 474, 71.1, '6/20/2008 04:21:39'),
  (19507, 21128, 38499, 2583, 7346, 1888, 2, 332, 49.8, '3/3/2008 04:26:38'),
  (19763, 21395, 29394, 2583, 3919, 1836, 2, 292, 43.8, '1/10/2008 09:05:13'),
  (19829,
   21454,
   27165,
   33938,
   8722,
   2154,
   4,
   812,
   121.8,
   '11/24/2008 10:22:47'),
  (19923, 21567, 3100, 551, 5185, 1961, 2, 144, 21.6, '5/15/2008 12:15:42'),
  (20015,
   21674,
   35232,
   33938,
   2157,
   1873,
   4,
   700,
   105.0,
   '2/16/2008 01:59:12'),
  (20184,
   21855,
   49246,
   23130,
   1927,
   2160,
   4,
   536,
   80.4,
   '11/30/2008 04:57:54'),
  (20221, 21896, 43669, 3183, 469, 2068, 3, 441, 66.15, '8/30/2008 05:48:14'),
  (20460, 22190, 38690, 551, 2349, 1980, 4, 300, 45.0, '6/3/2008 10:04:18'),
  (20468, 22199, 33879, 6389, 6685, 2069, 4, 864, 129.6, '8/31/2008 10:13:04'),
  (20469, 22200, 25395, 38238, 4060, 2018, 2, 74, 11.1, '7/11/2008 10:13:10'),
  (20637, 22420, 3847, 6389, 5004, 2003, 4, 572, 85.8, '6/26/2008 01:19:52'),
  (20887, 22708, 19429, 26737, 4400, 2168, 2, 234, 35.1, '12/8/2008 05:50:38'),
  (20924, 22758, 23894, 9902, 5262, 2003, 1, 227, 34.05, '6/26/2008 06:22:32'),
  (20995, 22831, 37920, 24449, 4084, 2023, 1, 49, 7.35, '7/16/2008 07:42:54'),
  (21027,
   22868,
   36144,
   13547,
   8200,
   2143,
   4,
   220,
   33.0,
   '11/13/2008 08:23:08'),
  (21042, 22877, 6645, 551, 3199, 2073, 2, 98, 14.7, '9/4/2008 08:36:31'),
  (21066, 22905, 28145, 429, 3701, 2044, 1, 24, 3.6, '8/6/2008 09:06:47'),
  (21098,
   22966,
   47806,
   24449,
   1920,
   1901,
   1,
   219,
   32.85,
   '3/16/2008 09:42:47'),
  (21161, 23055, 43847, 429, 4363, 2181, 1, 57, 8.55, '12/21/2008 11:05:25'),
  (21201, 23106, 41469, 551, 643, 1987, 2, 386, 57.9, '6/10/2008 11:50:25'),
  (21427, 23350, 48733, 38238, 3930, 1913, 2, 76, 11.4, '3/28/2008 04:13:22'),
  (21511, 23437, 35901, 3183, 972, 2095, 3, 279, 41.85, '9/26/2008 06:11:03'),
  (21586, 23508, 19111, 38238, 1463, 1950, 2, 236, 35.4, '5/4/2008 07:29:12'),

In [27]:
# Get event information for all events that took place in a venue where the name ended in 'Stadium'
sq2 = """ SELECT e.*
          FROM event e
          JOIN venue v ON e.venue_id = v.venue_id
          WHERE v.venue_name LIKE '%Stadium';"""
run_query(sq2)

(['event_id', 'venue_id', 'cat_id', 'date_id', 'event_name', 'start_time'],
 [(3803,
   2,
   9,
   2181,
   'Dropkick Murphys',
   datetime.datetime(2008, 12, 21, 14, 0)),
  (3816, 11, 9, 2139, 'Keb Mo', datetime.datetime(2008, 11, 9, 19, 0)),
  (3821,
   79,
   9,
   1885,
   'Charlie Daniels Band',
   datetime.datetime(2008, 2, 28, 19, 30)),
  (3824, 98, 9, 1885, 'Govt Mule', datetime.datetime(2008, 2, 28, 14, 0)),
  (3835, 74, 9, 2073, 'LeAnn Rimes', datetime.datetime(2008, 9, 4, 14, 30)),
  (3837, 67, 9, 1850, 'Randy Travis', datetime.datetime(2008, 1, 24, 15, 0)),
  (3840, 14, 9, 1876, 'Gwen Stefani', datetime.datetime(2008, 2, 19, 19, 30)),
  (3843, 75, 9, 1986, 'Blake Shelton', datetime.datetime(2008, 6, 9, 14, 30)),
  (3854, 6, 9, 1982, 'Gwen Stefani', datetime.datetime(2008, 6, 5, 15, 0)),
  (3862, 116, 9, 1855, 'Teddy Geiger', datetime.datetime(2008, 1, 29, 19, 30)),
  (3864, 75, 9, 1992, 'Celine Dion', datetime.datetime(2008, 6, 15, 15, 0)),
  (3866, 72, 9, 1950, 'Cold War Kids', datetime.datetime(2008, 5, 1, 14, 0)),
  (3869, 67, 9, 2115, 'Dave Stewart', datetime.datetime(2008, 10, 16, 20, 0)),
  (3873, 11, 9, 2188, 'Avril Lavigne', datetime.datetime(2008, 12, 28, 14, 0)),
  (3874, 129, 9, 1885, 'America', datetime.datetime(2008, 2, 28, 15, 0)),
  (3889,
   67,
   9,
   2108,
   'Natasha Bedingfield',
   datetime.datetime(2008, 10, 9, 19, 30)),
  (3896,
   14,
   9,
   1893,
   'Natasha Bedingfield',
   datetime.datetime(2008, 3, 8, 15, 0)),
  (3899, 75, 9, 2089, 'Rusted Root', datetime.datetime(2008, 9, 20, 14, 0)),
  (3901, 70, 9, 1861, 'Squeeze', datetime.datetime(2008, 2, 4, 14, 0)),
  (3908,
   74,
   9,
   2098,
   'Sound Tribe Sector 9',
   datetime.datetime(2008, 9, 29, 14, 0)),
  (3909, 72, 9, 2190, 'Scorpions', datetime.datetime(2008, 12, 30, 14, 0)),
  (3912, 103, 9, 1926, 'Nofx', datetime.datetime(2008, 4, 10, 19, 0)),
  (3918, 74, 9, 1940, 'Gnarls Barkley', datetime.datetime(2008, 4, 24, 15, 0)),
  (3925, 3, 9, 1864, 'Donny Osmond', datetime.datetime(2008, 2, 7, 14, 30)),
  (3926, 72, 9, 1848, 'Neil Diamond', datetime.datetime(2008, 1, 22, 19, 30)),
  (3927, 76, 9, 1925, 'Marc Anthony', datetime.datetime(2008, 4, 9, 14, 30)),
  (3935,
   116,
   9,
   2041,
   'Los Lonely Boys',
   datetime.datetime(2008, 8, 3, 15, 0)),
  (3942, 108, 9, 2125, 'Teddy Geiger', datetime.datetime(2008, 10, 26, 20, 0)),
  (3947, 98, 9, 1888, 'Eva Ayllon', datetime.datetime(2008, 3, 3, 20, 0)),
  (3950,
   98,
   9,
   2190,
   'Martina McBride',
   datetime.datetime(2008, 12, 30, 19, 0)),
  (3956, 108, 9, 2102, 'Bad Company', datetime.datetime(2008, 10, 3, 19, 30)),
  (3971,
   74,
   9,
   1835,
   'Toad The Wet Sprocket',
   datetime.datetime(2008, 1, 9, 20, 0)),
  (3985, 69, 9, 2057, 'Lenny Kravitz', datetime.datetime(2008, 8, 19, 20, 0)),
  (3996, 71, 9, 1897, 'Umphreys McGee', datetime.datetime(2008, 3, 12, 19, 0)),
  (3999, 2, 9, 1848, 'Soulfest', datetime.datetime(2008, 1, 22, 14, 30)),
  (4001, 89, 9, 2139, 'Sigur Ros', datetime.datetime(2008, 11, 9, 15, 0)),
  (4002, 69, 9, 1958, 'The National', datetime.datetime(2008, 5, 1, 14, 0)),
  (4017,
   79,
   9,
   2080,
   'Earth Wind and Fire',
   datetime.datetime(2008, 9, 11, 14, 0)),
  (4019, 79, 9, 2185, 'U2', datetime.datetime(2008, 12, 25, 15, 0)),
  (4033, 76, 9, 1900, 'Jason Mraz', datetime.datetime(2008, 3, 15, 15, 0)),
  (4044,
   71,
   9,
   1938,
   'The Black Keys',
   datetime.datetime(2008, 4, 22, 14, 30)),
  (4049, 91, 9, 2141, 'Ted Nugent', datetime.datetime(2008, 11, 11, 19, 30)),
  (4053,
   13,
   9,
   1829,
   'Sunday in the Country',
   datetime.datetime(2008, 1, 3, 20, 0)),
  (4055, 72, 9, 2023, 'Queensryche', datetime.datetime(2008, 7, 16, 20, 0)),
  (4056, 11, 9, 2188, 'Conor Oberst', datetime.datetime(2008, 12, 28, 14, 30)),
  (4062, 70, 9, 2100, 'Black Crowes', datetime.datetime(2008, 10, 1, 14, 0)),
  (4063,
   98,
   9,
   2171,
   'Celtic Thunder',
   datetime.datetime(2008, 12, 11, 15, 0)),
  (4071, 92, 9, 2147, 'Nas', datetime.datetime(2008, 11, 17, 20, 0)),
  (4073, 76, 9, 1931, 'Sheryl Crow', datetime.datetime(2008, 4, 15, 20, 0)),
  (4077,
   129,
   9,
   1848,
   'Casting Crowns',
   datetime.datetime(2008, 1, 22, 14, 0)),
  (4079,
   75,
   9,
   2024,
   'Bullet for My Valentine',
   datetime.datetime(2008, 7, 17, 20, 0)),
  (4080, 67, 9, 2024, 'King Crimson', datetime.datetime(2008, 7, 17, 20, 0)),
  (4093,
   67,
   9,
   2079,
   'Cute Is What We Aim For',
   datetime.datetime(2008, 9, 10, 14, 0)),
  (4094,
   13,
   9,
   1931,
   'George Thorogood and the Destroyers',
   datetime.datetime(2008, 4, 15, 14, 30)),
  (4096, 11, 9, 2189, 'Ryan Adams', datetime.datetime(2008, 12, 29, 19, 0)),
  (4102, 98, 9, 2082, 'Nofx', datetime.datetime(2008, 9, 13, 19, 30)),
  (4111, 13, 9, 1936, 'Erykah Badu', datetime.datetime(2008, 4, 20, 15, 0)),
  (4114, 3, 9, 1942, 'Vince Gill', datetime.datetime(2008, 4, 26, 14, 0)),
  (4116, 76, 9, 2026, 'Nashville Star', datetime.datetime(2008, 7, 19, 15, 0)),
  (4124, 91, 9, 1883, 'Calibash', datetime.datetime(2008, 2, 26, 20, 0)),
  (4125, 89, 9, 1960, 'Conor Oberst', datetime.datetime(2008, 5, 1, 14, 0)),
  (4136,
   92,
   9,
   2141,
   'The Rowdy Frynds Tour',
   datetime.datetime(2008, 11, 11, 20, 0)),
  (4139,
   103,
   9,
   1838,
   'Charlie Daniels Band',
   datetime.datetime(2008, 1, 12, 19, 30)),
  (4141, 2, 9, 2046, 'Wolf Parade', datetime.datetime(2008, 8, 8, 19, 30)),
  (4148, 119, 9, 2011, 'Motley Crue', datetime.datetime(2008, 7, 4, 14, 30)),
  (4162, 13, 9, 2061, 'Killers', datetime.datetime(2008, 8, 23, 19, 0)),
  (4168, 103, 9, 1913, 'Oasis', datetime.datetime(2008, 3, 28, 15, 0)),
  (4170, 72, 9, 2045, 'Vampire Weekend', datetime.datetime(2008, 8, 7, 19, 0)),
  (4174,
   80,
   9,
   2072,
   'Robert Plant and Alison Krauss',
   datetime.datetime(2008, 9, 3, 14, 30)),
  (4184, 14, 9, 2081, 'Colbie Caillat', datetime.datetime(2008, 9, 12, 19, 0)),
  (4185,
   103,
   9,
   1872,
   'Smokey Robinson',
   datetime.datetime(2008, 2, 15, 19, 0)),
  (4188,
   70,
   9,
   1883,
   'Ray Lamontagne',
   datetime.datetime(2008, 2, 26, 19, 30)),
  (4191, 103, 9, 2040, 'Sara Bareilles', datetime.datetime(2008, 8, 2, 15, 0)),
  (4200, 72, 9, 1908, 'Joe Satriani', datetime.datetime(2008, 3, 23, 14, 30)),
  (4204,
   70,
   9,
   2132,
   'Teen Choice Awards',
   datetime.datetime(2008, 11, 2, 14, 0)),
  (4211,
   14,
   9,
   1875,
   'Rock To Win At the DNC',
   datetime.datetime(2008, 2, 18, 14, 30)),
  (4223, 108, 9, 1890, 'Luis Miguel', datetime.datetime(2008, 3, 5, 14, 0)),
  (4239,
   91,
   9,
   1973,
   'Kool and The Gang',
   datetime.datetime(2008, 5, 1, 15, 0)),
  (4248, 119, 9, 1844, 'Godsmack', datetime.datetime(2008, 1, 18, 19, 30)),
  (4251,
   119,
   9,
   1907,
   'Dave Matthews Band',
   datetime.datetime(2008, 3, 22, 15, 0)),
  (4259, 108, 9, 2118, 'Santana', datetime.datetime(2008, 10, 19, 15, 0)),
  (4260, 74, 9, 2144, 'Eric Clapton', datetime.datetime(2008, 11, 14, 14, 0)),
  (4265,
   129,
   9,
   2142,
   'Echo & the Bunnymen',
   datetime.datetime(2008, 11, 12, 14, 30)),
  (4268,
   69,
   9,
   2084,
   'Rock the Bells',
   datetime.datetime(2008, 9, 15, 19, 30)),
  (4278, 98, 9, 1901, 'Idina Menzel', datetime.datetime(2008, 3, 16, 14, 0)),
  (4285, 81, 9, 2046, 'Eva Ayllon', datetime.datetime(2008, 8, 8, 14, 0)),
  (4286,
   91,
   9,
   2179,
   'Counting Crows and Maroon 5',
   datetime.datetime(2008, 12, 19, 19, 0)),
  (4289, 3, 9, 1997, 'Stray Cats', datetime.datetime(2008, 6, 20, 19, 30)),
  (4295, 74, 9, 2098, 'Kansas', datetime.datetime(2008, 9, 29, 19, 30)),
  (4297, 119, 9, 1917, 'Nas', datetime.datetime(2008, 4, 1, 15, 0)),
  (4302, 3, 9, 2018, 'Los Lonely Boys', datetime.datetime(2008, 7, 11, 20, 0)),
  (4305, 116, 9, 1879, 'Jim Brickman', datetime.datetime(2008, 2, 22, 20, 0)),
  (4306, 69, 9, 1832, 'Backstreet Boys', datetime.datetime(2008, 1, 6, 20, 0)),
  (4311, 80, 9, 1989, 'Keb Mo', datetime.datetime(2008, 6, 12, 14, 0)),
  (4312,
   69,
   9,
   2024,
   'Aretha Franklin',
   datetime.datetime(2008, 7, 17, 19, 0)),
  (4313, 98, 9, 2077, 'Jethro Tull', datetime.datetime(2008, 9, 8, 14, 0)),
  (4320, 103, 9, 2046, 'Extreme', datetime.datetime(2008, 8, 8, 19, 30)),
  (4323,
   74,
   9,
   2170,
   'Huey Lewis and the News',
   datetime.datetime(2008, 12, 10, 20, 0)),
  (4329, 71, 9, 1844, 'Neil Diamond', datetime.datetime(2008, 1, 18, 19, 0)),
  (4330,
   13,
   9,
   1967,
   'Marco Antonio Solis',
   datetime.datetime(2008, 5, 1, 14, 0)),
  (4331,
   89,
   9,
   2020,
   'Trisha Yearwood',
   datetime.datetime(2008, 7, 13, 20, 0)),
  (4351,
   76,
   9,
   1914,
   'Sunday in the Country',
   datetime.datetime(2008, 3, 29, 19, 30)),
  (4353, 13, 9, 1846, 'Bruce Hornsby', datetime.datetime(2008, 1, 20, 19, 0)),
  (4359,
   103,
   9,
   2116,
   'Country Jam USA',
   datetime.datetime(2008, 10, 17, 14, 30)),
  (4370,
   116,
   9,
   2154,
   'George Thorogood and the Destroyers',
   datetime.datetime(2008, 11, 24, 20, 0)),
  (4374, 74, 9, 2161, 'Dolly Parton', datetime.datetime(2008, 12, 1, 20, 0)),
  (4378, 5, 9, 1853, 'Cafe Tacuba', datetime.datetime(2008, 1, 27, 19, 30)),
  (4380, 5, 9, 2146, 'Bow Wow', datetime.datetime(2008, 11, 16, 19, 30)),
  (4381, 69, 9, 1866, 'Jonas Brothers', datetime.datetime(2008, 2, 9, 14, 30)),
  (4390, 76, 9, 1860, 'Missy Higgins', datetime.datetime(2008, 2, 3, 14, 0)),
  (4394, 6, 9, 1830, 'Led Zeppelin', datetime.datetime(2008, 1, 4, 14, 30)),
  (4403,
   108,
   9,
   1859,
   'Vampire Weekend',
   datetime.datetime(2008, 2, 2, 20, 0)),
  (4408, 89, 9, 2029, 'Jack Johnson', datetime.datetime(2008, 7, 22, 19, 0)),
  (4409, 103, 9, 2085, 'Black Kids', datetime.datetime(2008, 9, 16, 15, 0)),
  (4415,
   5,
   9,
   1858,
   'Dave Matthews Band',
   datetime.datetime(2008, 2, 1, 15, 0)),
  (4419, 14, 9, 1910, 'Boston', datetime.datetime(2008, 3, 25, 19, 0)),
  (4425,
   79,
   9,
   1999,
   'Engelbert Humperdinck',
   datetime.datetime(2008, 6, 22, 14, 30)),
  (4429,
   14,
   9,
   2139,
   'Montgomery Gentry',
   datetime.datetime(2008, 11, 9, 14, 0)),
  (4436,
   70,
   9,
   1873,
   'George Thorogood',
   datetime.datetime(2008, 2, 16, 20, 0)),
  (4439, 79, 9, 2162, 'Cypress Hill', datetime.datetime(2008, 12, 2, 15, 0)),
  (4440, 71, 9, 1956, 'The Who', datetime.datetime(2008, 5, 1, 14, 30)),
  (4446, 129, 9, 2155, 'O.A.R.', datetime.datetime(2008, 11, 25, 19, 0)),
  (4450, 76, 9, 2063, 'Jesse Lacey', datetime.datetime(2008, 8, 25, 20, 0)),
  (4451, 70, 9, 2053, 'Garth Brooks', datetime.datetime(2008, 8, 15, 20, 0)),
  (4463, 6, 9, 2128, 'Third Day', datetime.datetime(2008, 10, 29, 14, 0)),
  (4473,
   71,
   9,
   2114,
   'Wisin y Yandel',
   datetime.datetime(2008, 10, 15, 14, 30)),
  (4493,
   116,
   9,
   2060,
   'Flogging Molly',
   datetime.datetime(2008, 8, 22, 14, 30)),
  (4501, 89, 9, 1934, 'Rock the Bells', datetime.datetime(2008, 4, 18, 15, 0)),
  (4506,
   98,
   9,
   2104,
   'Weird Al Yankovic',
   datetime.datetime(2008, 10, 5, 15, 0)),
  (4508,
   74,
   9,
   1913,
   'Black Eyed Peas',
   datetime.datetime(2008, 3, 28, 20, 0)),
  (4538, 72, 9, 1929, 'Dennis DeYoung', datetime.datetime(2008, 4, 13, 15, 0)),
  (4549, 79, 9, 2048, 'Boston', datetime.datetime(2008, 8, 10, 19, 30)),
  (4551, 103, 9, 1939, 'Zucchero', datetime.datetime(2008, 4, 23, 14, 0)),
  (4554, 74, 9, 1901, 'Regina Spektor', datetime.datetime(2008, 3, 16, 14, 0)),
  (4563, 89, 9, 1830, 'Killers', datetime.datetime(2008, 1, 4, 20, 0)),
  (4566, 119, 9, 2125, 'The Who', datetime.datetime(2008, 10, 26, 19, 0)),
  (4567, 129, 9, 1910, 'Chris Isaak', datetime.datetime(2008, 3, 25, 14, 30)),
  (4569,
   80,
   9,
   2047,
   'Lucinda Williams',
   datetime.datetime(2008, 8, 9, 14, 30)),
  (4570, 74, 9, 1991, 'Commodores', datetime.datetime(2008, 6, 14, 15, 0)),
  (4572,
   14,
   9,
   2143,
   'Gogol Bordello',
   datetime.datetime(2008, 11, 13, 20, 0)),
  (4580, 13, 9, 2134, 'Steely Dan', datetime.datetime(2008, 11, 4, 19, 30)),
  (4609, 5, 9, 1830, 'Los Temerarios', datetime.datetime(2008, 1, 4, 15, 0)),
  (4611, 98, 9, 2012, 'Jill Scott', datetime.datetime(2008, 7, 5, 14, 30)),
  (4612, 70, 9, 2041, 'Casting Crowns', datetime.datetime(2008, 8, 3, 19, 30)),
  (4615,
   81,
   9,
   1835,
   'Smokey Robinson',
   datetime.datetime(2008, 1, 9, 14, 30)),
  (4619, 6, 9, 1973, 'Trisha Yearwood', datetime.datetime(2008, 5, 1, 15, 0)),
  (4623, 6, 9, 2052, 'Neil Diamond', datetime.datetime(2008, 8, 14, 19, 0)),
  (4626, 76, 9, 1957, 'Alice Cooper', datetime.datetime(2008, 5, 1, 19, 30)),
  (4630,
   108,
   9,
   2050,
   'George Michael',
   datetime.datetime(2008, 8, 12, 14, 0)),
  (4632, 116, 9, 1869, 'Tesla', datetime.datetime(2008, 2, 12, 15, 0)),
  (4634, 70, 9, 1906, 'Zucchero', datetime.datetime(2008, 3, 21, 14, 0)),
  (4636, 89, 9, 2000, 'Motorhead', datetime.datetime(2008, 6, 23, 20, 0)),
  (4638,
   72,
   9,
   2099,
   'Sarah Brightman',
   datetime.datetime(2008, 9, 30, 20, 0)),
  (4641,
   92,
   9,
   1983,
   'Smokey Robinson',
   datetime.datetime(2008, 6, 6, 14, 30)),
  (4644, 13, 9, 2125, 'Dj Tiesto', datetime.datetime(2008, 10, 26, 14, 0)),
  (4646, 92, 9, 1914, 'Duffy', datetime.datetime(2008, 3, 29, 19, 0)),
  (4652, 3, 9, 1934, 'The National', datetime.datetime(2008, 4, 18, 19, 0)),
  (4654, 13, 9, 1886, 'Maze', datetime.datetime(2008, 3, 1, 15, 0)),
  (4655, 92, 9, 1972, 'Queensryche', datetime.datetime(2008, 5, 1, 15, 0)),
  (4657, 108, 9, 2011, 'Phil Vassar', datetime.datetime(2008, 7, 4, 14, 0)),
  (4666, 70, 9, 2090, 'Sugarland', datetime.datetime(2008, 9, 21, 15, 0)),
  (4668, 14, 9, 2114, 'Duran Duran', datetime.datetime(2008, 10, 15, 15, 0)),
  (4670, 69, 9, 1919, 'Foo Fighters', datetime.datetime(2008, 4, 3, 15, 0)),
  (4672, 13, 9, 1923, 'The Police', datetime.datetime(2008, 4, 7, 19, 0)),
  (4673,
   14,
   9,
   2117,
   'Burt Bacharach',
   datetime.datetime(2008, 10, 18, 19, 0)),
  (4674, 98, 9, 2078, 'Jethro Tull', datetime.datetime(2008, 9, 9, 19, 0)),
  (4677, 98, 9, 2129, 'KT Tunstall', datetime.datetime(2008, 10, 30, 14, 0)),
  (4686,
   70,
   9,
   1984,
   'Rodrigo y Gabriela',
   datetime.datetime(2008, 6, 7, 20, 0)),
  (4711, 2, 9, 1829, 'Carrie Underwood', datetime.datetime(2008, 1, 3, 19, 0)),
  (4715, 116, 9, 2010, 'Poison', datetime.datetime(2008, 7, 3, 14, 0)),
  (4723, 79, 9, 2168, 'Foreigner', datetime.datetime(2008, 12, 8, 19, 30)),
  (4730, 79, 9, 1889, 'Mars Volta', datetime.datetime(2008, 3, 4, 19, 0)),
  (4731, 91, 9, 1831, 'Flogging Molly', datetime.datetime(2008, 1, 5, 14, 0)),
  (4733, 14, 9, 2096, 'John Prine', datetime.datetime(2008, 9, 27, 20, 0)),
  (4734, 75, 9, 1869, 'Fergie', datetime.datetime(2008, 2, 12, 19, 0)),
  (4737, 67, 9, 2102, 'Gnarls Barkley', datetime.datetime(2008, 10, 3, 19, 0)),
  (4738, 80, 9, 2043, 'Ben Harper', datetime.datetime(2008, 8, 5, 14, 30)),
  (4741, 5, 9, 2164, 'Spoon', datetime.datetime(2008, 12, 4, 19, 0)),
  (4746,
   70,
   9,
   2173,
   'Jerry Jeff Walker',
   datetime.datetime(2008, 12, 13, 20, 0)),
  (4753, 72, 9, 2015, 'John Hiatt', datetime.datetime(2008, 7, 8, 15, 0)),
  (4756,
   74,
   9,
   2142,
   'Sara Bareilles',
   datetime.datetime(2008, 11, 12, 19, 0)),
  (4760, 119, 9, 1918, 'Jimmy Buffett', datetime.datetime(2008, 4, 2, 20, 0)),
  (4761, 80, 9, 1899, 'Wolf Parade', datetime.datetime(2008, 3, 14, 14, 30)),
  (4769, 2, 9, 2075, 'Neville Brothers', datetime.datetime(2008, 9, 6, 15, 0)),
  (4771, 98, 9, 2111, 'Black Crowes', datetime.datetime(2008, 10, 12, 19, 0)),
  (4780, 80, 9, 1927, 'Gladys Knight', datetime.datetime(2008, 4, 11, 14, 0)),
  (4781, 14, 9, 2008, 'Sara Bareilles', datetime.datetime(2008, 7, 1, 19, 30)),
  (4800, 76, 9, 2157, 'Girl Talk', datetime.datetime(2008, 11, 27, 19, 30)),
  (4802, 70, 9, 1849, 'Nas', datetime.datetime(2008, 1, 23, 15, 0)),
  (4804, 119, 9, 1878, 'Decemberists', datetime.datetime(2008, 2, 21, 19, 30)),
  (4807, 108, 9, 2178, 'Judas Priest', datetime.datetime(2008, 12, 18, 19, 0)),
  (4816, 74, 9, 1971, 'Santana', datetime.datetime(2008, 5, 1, 15, 0)),
  (4822,
   13,
   9,
   2155,
   'Colbie Caillat',
   datetime.datetime(2008, 11, 25, 14, 0)),
  (4824, 74, 9, 2106, 'Sara Bareilles', datetime.datetime(2008, 10, 7, 14, 0)),
  (4825, 13, 9, 2172, 'N.E.R.D.', datetime.datetime(2008, 12, 12, 15, 0)),
  (4826,
   71,
   9,
   1847,
   'Jerry Jeff Walker',
   datetime.datetime(2008, 1, 21, 19, 30)),
  (4828,
   14,
   9,
   2076,
   'Oliver Dragojevic',
   datetime.datetime(2008, 9, 7, 15, 0)),
  (4830, 14, 9, 1875, 'Maze', datetime.datetime(2008, 2, 18, 19, 0)),
  (4834, 89, 9, 2161, 'Regina Spektor', datetime.datetime(2008, 12, 1, 14, 0)),
  (4840, 69, 9, 2174, 'Sara Evans', datetime.datetime(2008, 12, 14, 14, 0)),
  (4841,
   91,
   9,
   2005,
   'Vampire Weekend',
   datetime.datetime(2008, 6, 28, 19, 30)),
  (4844, 129, 9, 1891, 'Herbie Hancock', datetime.datetime(2008, 3, 6, 19, 0)),
  (4850,
   91,
   9,
   1827,
   'Zappa Plays Zappa',
   datetime.datetime(2008, 1, 1, 14, 0)),
  (4852, 129, 9, 2037, 'Mark Knopfler', datetime.datetime(2008, 7, 30, 19, 0)),
  (4857, 108, 9, 2134, 'The Guess Who', datetime.datetime(2008, 11, 4, 19, 0)),
  (4858, 81, 9, 2024, 'Ray Davies', datetime.datetime(2008, 7, 17, 14, 0)),
  (4860,
   5,
   9,
   2045,
   'Vicente Fernandez',
   datetime.datetime(2008, 8, 7, 15, 0)),
  (4867, 119, 9, 1849, 'Clint Black', datetime.datetime(2008, 1, 23, 19, 30)),
  (4874,
   75,
   9,
   1944,
   'Zappa Plays Zappa',
   datetime.datetime(2008, 4, 28, 15, 0)),
  (4876, 67, 9, 2059, 'Brian McKnight', datetime.datetime(2008, 8, 21, 19, 0)),
  (4886,
   2,
   9,
   2156,
   'Weird Al Yankovic',
   datetime.datetime(2008, 11, 26, 19, 30)),
  (4887,
   70,
   9,
   1849,
   'Tom Petty and the Heartbreakers',
   datetime.datetime(2008, 1, 23, 15, 0)),
  (4891, 92, 9, 1963, 'Rusted Root', datetime.datetime(2008, 5, 1, 19, 0)),
  (4894, 70, 9, 1890, 'Maze', datetime.datetime(2008, 3, 5, 19, 0)),
  (4896,
   67,
   9,
   1944,
   'Guitars and Saxes',
   datetime.datetime(2008, 4, 28, 15, 0)),
  (4900, 71, 9, 2017, 'Iron and Wine', datetime.datetime(2008, 7, 10, 19, 30)),
  (4902, 74, 9, 2163, 'The Who', datetime.datetime(2008, 12, 3, 15, 0)),
  (4908,
   14,
   9,
   1910,
   'Celtic Thunder',
   datetime.datetime(2008, 3, 25, 19, 30)),
  (4914,
   71,
   9,
   2040,
   'Country Jam USA',
   datetime.datetime(2008, 8, 2, 19, 30)),
  (4915, 69, 9, 1832, 'Duran Duran', datetime.datetime(2008, 1, 6, 19, 30)),
  (4916, 11, 9, 2096, 'Alan Jackson', datetime.datetime(2008, 9, 27, 15, 0)),
  (4918, 14, 9, 2153, 'Brad Paisley', datetime.datetime(2008, 11, 23, 14, 0)),
  (4920, 3, 9, 1955, 'Led Zeppelin', datetime.datetime(2008, 5, 1, 19, 30)),
  (4940, 119, 9, 1990, 'Clint Black', datetime.datetime(2008, 6, 13, 19, 30)),
  (4958, 76, 9, 2167, 'Kanye West', datetime.datetime(2008, 12, 7, 15, 0)),
  (4960,
   6,
   9,
   2046,
   'Dave Matthews Band',
   datetime.datetime(2008, 8, 8, 19, 0)),
  (4963,
   129,
   9,
   2013,
   'Hermans Hermits',
   datetime.datetime(2008, 7, 6, 19, 0)),
  (4964,
   119,
   9,
   2034,
   'Steven Curtis Chapman',
   datetime.datetime(2008, 7, 27, 19, 30)),
  (4969, 71, 9, 1919, 'Sara Evans', datetime.datetime(2008, 4, 3, 15, 0)),
  (4971,
   6,
   9,
   2164,
   'Justin Timberlake',
   datetime.datetime(2008, 12, 4, 15, 0)),
  (4983, 75, 9, 1929, 'Gary Allan', datetime.datetime(2008, 4, 13, 15, 0)),
  (4988,
   71,
   9,
   2061,
   'Bamboozle Left',
   datetime.datetime(2008, 8, 23, 19, 30)),
  (4992,
   103,
   9,
   2088,
   'Little River Band',
   datetime.datetime(2008, 9, 19, 14, 0)),
  (4998, 70, 9, 2078, 'Tower of Power', datetime.datetime(2008, 9, 9, 15, 0)),
  (5017, 76, 9, 1957, '3 Doors Down', datetime.datetime(2008, 5, 1, 19, 30)),
  (5021, 79, 9, 2133, 'David Sanborn', datetime.datetime(2008, 11, 3, 19, 30)),
  (5024, 92, 9, 2077, 'Paramore', datetime.datetime(2008, 9, 8, 15, 0)),
  (5037, 67, 9, 1951, 'Keb Mo', datetime.datetime(2008, 5, 1, 15, 0)),

In [28]:
# Get event information where the total sales for that event were greater than $50000
sq3 = """ SELECT e.*
          FROM event e
          WHERE e.event_id IN (
          SELECT s.event_id
          FROM sales s
          GROUP BY s.event_id
          HAVING SUM(s.price_paid) > 50000);"""
run_query(sq3)

(['event_id', 'venue_id', 'cat_id', 'date_id', 'event_name', 'start_time'],
 [(289,
   300,
   8,
   2100,
   'Adriana Lecouvreur',
   datetime.datetime(2008, 10, 1, 19, 30)),
  (1602,
   257,
   6,
   2128,
   'Phantom of the Opera',
   datetime.datetime(2008, 10, 29, 19, 30)),
  (7895, 47, 9, 1944, 'Janet Jackson', datetime.datetime(2008, 4, 28, 15, 0))])

In [29]:
get_table_names()

[('sales',),
 ('venue',),
 ('event',),
 ('users',),
 ('category',),
 ('listing',),
 ('date',)]

In [30]:
get_column_names(table_name= 'date')

[('date_id',),
 ('qtr',),
 ('year',),
 ('holiday',),
 ('week',),
 ('cal_date',),
 ('day',),
 ('month',)]

In [31]:
## Q6 Your function ends here - Any code outside of these start/end markers won't be graded